<!--A Design by Cloudclovis 
Author: CloudClovis
Author URL: http://cloudclovis.com/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Free Interior Module Website Template | Gallery :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="icon" type="image/png" href="images/Untitled.png">
<link href='http://fonts.googleapis.com/css?family=Baumans' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.js"></script>
	<link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" media="screen" />
<script type="text/javascript">
		$(document).ready(function() {
			$('.fancybox').fancybox();
		});
	</script>
</head>
<body>
  <div class="header">
  	 <div class="header_top">
	        <div class="wrap">		
		 		  <div class="logo"> <a href="index.html">
            <h1><img src="images/vLogo.jpg" alt=""></h1>
            </a> </div>
          <div class="menu">
        <ul class="drop">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="#">Gallery</a>
            <ul>
                  <li><a href="gallery-residence1.html">Residential</a></li>
                  <li><a href="gallery-commercial1.html">Commercial</a></li>
                  <li><a href="gallery-exterior.html">Exterior</a></li>
				  <li><a href="gallery-photoshop.html">Photoshop Render</a></li>
                </ul>
          </li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
        <div class="clear"></div>
      </div>
      
      
      <span class="clear"></span>		
	    		 <div class="clear"></div>
	        </div>
	    </div>
	</div>		
	
     <div class="main">
	 	<div class="wrap">
	 	  <div class="gallery">
		    <div class="section group">
				<div class="gallery_1_of_4 images_1_of_4">
					 <a class="fancybox" href="images/residential_10.jpg" data-fancybox-group="gallery"><img src="images/residential_10.jpg" alt=""><span> </span></a>
					 <!--<h3>Product Name</h3>
					 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua<span><a href="#">[...]</a></span></p>-->
		         </div>
				<div class="gallery_1_of_4 images_1_of_4">
					  <a class="fancybox" href="images/residential_24.jpg" data-fancybox-group="gallery"><img src="images/residential_24.jpg" alt=""><span> </span></a>
					 <!--<h3>Product Name</h3>
					 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua<span><a href="#">[...]</a></span></p>-->
				</div>
				<div class="gallery_1_of_4 images_1_of_4">
					  <a class="fancybox" href="images/residential_25.jpg" data-fancybox-group="gallery"><img src="images/residential_25.jpg" alt=""><span> </span></a>
					<!--<h3>Product Name</h3>
					 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua<span><a href="#">[...]</a></span></p>-->
				</div>
				<div class="gallery_1_of_4 images_1_of_4">
					  <a class="fancybox" href="images/residential_31.jpg" data-fancybox-group="gallery"><img src="images/residential_31.jpg" alt=""><span> </span></a>
					 <!--<h3>Product Name</h3>
					 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua<span><a href="#">[...]</a></span></p>-->
				</div>
			  </div>
		   <div class="section group">
				<div class="gallery_1_of_4 images_1_of_4">
					 <a class="fancybox" href="images/residential_35.jpg" data-fancybox-group="gallery"><img src="images/residential_35.jpg" alt=""><span> </span></a>
					 <!--<h3>Product Name</h3>
					 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua<span><a href="#">[...]</a></span></p>-->
		        </div>
				<div class="gallery_1_of_4 images_1_of_4">
					  <a class="fancybox" href="images/residential_17.jpg" data-fancybox-group="gallery"><img src="images/residential_17.jpg" alt=""><span> </span></a>
					 <!--<h3>Product Name</h3>
					 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua<span><a href="#">[...]</a></span></p>-->
				</div>
				<div class="gallery_1_of_4 images_1_of_4">
					  <a class="fancybox" href="images/residential_20.jpg" data-fancybox-group="gallery"><img src="images/residential_20.jpg" alt=""><span> </span></a>
					<!--<h3>Product Name</h3>
					 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua<span><a href="#">[...]</a></span></p>-->
				</div>
				<div class="gallery_1_of_4 images_1_of_4">
					  <a class="fancybox" href="images/residential_26.jpg" data-fancybox-group="gallery"><img src="images/residential_26.jpg" alt=""><span> </span></a>
					 <!--<h3>Product Name</h3>
					 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua<span><a href="#">[...]</a></span></p>-->
				</div>
			</div>
			
				
			       <div class="projects-bottom-paination">
						<ul>
							<li><a href="gallery-residence1.html">1</a></li>
							<li class="active"><a href="gallery-residence2.html">2</a></li>
						</ul>
					</div>
	 	   </div>
	 	</div>
      </div>
            </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
     <div class="copy-right">
			<div class="wrap">
			  <p class="copy"> Powered by <a href="http://cloudclovis.com/" target="_blank" style="text-decoration:none">CloudClovis</a></p>
		     
              <div class="clear"></div>
		</div>	
	</div>
</body>
</html>

